<div class="container">
[% FOREACH product IN products.content %]
	<div class="row">
		<div class="col-sm-3">
			<button class="btn btn-default">[% product.name %]</button>
		</div>
	</div>
[% END %]
</div>